/* 
    Introduction to Jakarta Enterprise Edition - JPA on Hibernate
    https://github.com/egalli64/jeed
 */

body {
    background-color: #fafaee;
}

h1 {
  text-align: center;
}

header {
    margin-bottom: 20px;
}

.right {
    text-align: right;
}