<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Context>
    <!-- Moved in container configuration -->

    <!-- <Resource name="jdbc/me" type="javax.sql.DataSource" -->
    <!-- driverClassName="com.mysql.cj.jdbc.Driver" auth="Container" -->
    <!-- url="jdbc:mysql://localhost:3306/hron" -->
    <!-- username="me" password="password" /> -->

    <!-- <Resource name="jdbc/hron" type="javax.sql.DataSource" -->
    <!-- driverClassName="org.postgresql.Driver" auth="Container" -->
    <!-- url="jdbc:postgresql://localhost:5432/postgres?currentSchema=hron" username="hron" -->
    <!-- password="password" /> -->
</Context>
